.img,
button {
  /* box-shadow: 0 0 8px #ccc; */
  transition: 0.5s;
}

/* .img:hover,button:hover{
  transform: scale(1.05);
} */

.outputCanvas {
  box-shadow: 0 0 15px #ccc;
}

.one {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(253, 23, 23);

  border: 2px solid rgba(136, 136, 136, 0.5);
  top: -7.5px;
  left: -7.5px;
  touch-action: none;
  user-select: none;
  z-index : 100;
}

.two {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(253, 23, 23);
  z-index : 100;

  border: 2px solid rgba(136, 136, 136, 0.5);
  top: -7.5px;
  right: -7.5px;
  touch-action: none;
  user-select: none;
}

.three {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(253, 23, 23);
  z-index : 100;

  border: 2px solid rgba(136, 136, 136, 0.5);
  bottom: -7.5px;
  left: -7.5px;
  touch-action: none;
  user-select: none;
}

.four {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(253, 23, 23);
  border: 2px solid rgba(136, 136, 136, 0.5);
  bottom: -7.5px;
  right: -7.5px;
  touch-action: none;
  user-select: none;

  z-index : 100;
}

.fixedPt{
  position: absolute;
  width: 15px;
  height: 15px;
  opacity : 0;
  border-radius: 50%;
  background-color: rgb(253, 23, 23);

  border: 2px solid rgba(136, 136, 136, 0.5);
  top: -7.5px;
  left: -7.5px;
  touch-action: none;
  user-select: none;
}

#svg{
  width : 100% ;
  height : 100%;
  margin : 10px;
}